:root{
    /*Earth orbital Period*/
    --earth-orbit: 25s;
    --clr-bg: #051628;
    --clr-sun: #f9e14b;
    --clr-mercury: #736f66;
    --clr-venus: #b66e6f;
    --clr-earth: #22adc2;
    --clr-mars: #d02746;
    --clr-saturn: #d5b979;
    --clr-uranus: #d6fcfd;
    --clr-neptune: #00749a;
}

@keyframes orbit {
   0%{
    transform: translateY(-50%0) translateX(-50%) rotate(0deg);
   } 

   100%{
    transform:  translateY(-50%0) translateX(-50%) rotate(360deg);
   }
} 

.sizer{
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0 auto;
    max-width: 100%;
    width: 100vh;
}

.wrapper{
    padding-bottom: 65%;
    position: relative;
    width:65%;
}

.solar-system{
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.positioner{
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%,0);
}

.orbit{
    border: 1px solid #ffffff40;
    border-radius: 50%;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-name: orbit;
    animation-timing-function: linear;
}

.planet, .sun{
    border-radius: 50%;
    display: block;
}

.planet{
    background-color: currentColor;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.sun{
    background-color: var(--clr-sun);
    height: 11.5%;
    width: 11.5%;
}

.mercury{
    height: 19.2%;
}